<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # <-- προσθέτουμε αυτό
    RewriteRule ^_ERP/ - [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
